body {
    background-color: #1c1c1c;
}

#calculator {
    border: 1px solid black;
    height: 500px;
    width: 320px;
    margin: 100px auto 0 auto;
    border-radius: 5%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    background-color: #5e5e5efe;
}

#display {
    border: 1px solid black;
    margin: 12px 10px;
    height: 80px;
    background-color: #2A3132;
    border-radius: 3%;
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    color: white;
    font-size: 32px; 
}

#container-of-buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: center;
}

.button {
    width: 66px;
    height: 66px;
    border-radius: 5%;
    margin: 0 2.5px 0 2.5px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
}

#btn17 {
    margin-left: 8px;
}

#btn19 {
    flex-grow: 1;
    margin-right: 8px;
}

#btn4, #btn8, #btn12, #btn16, #btn19 { 
    background-color: #ff9500;
}

#btn1, #btn2, #btn3 {
    background-color: #d4d4d24e;
}